@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Barlow Condensed, "Arial";
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
}

body {
  background-color: hsl(260, 100%, 95%);
}

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 1.5rem;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.left-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.top-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 400px) {
  .top-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.bottom-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

@media (max-width: 600px) {
  .bottom-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 25px;
  border-radius: 6px;
}

.daniel-clifford {
  background-color: hsl(263, 55%, 52%);
  color: white;
  position: relative;
  box-shadow: 12px 6px 14px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.daniel-clifford::before {
  background-image: url("/images/bg-pattern-quotation.svg");
  z-index: -9;
  top: 0;
  right: 40px;
  position: absolute;
  content: "";
  width: 100px;
  height: 85px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.profile-info {
  display: flex;
  gap: 1rem;
}

.profile-picture {
  max-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture img {
  width: 100%;
  border-radius: 50%;
}

.daniel-clifford img {
  border: 2px solid hsl(264, 82%, 80%);
}

.daniel-clifford .profile-username {
  color: hsl(260, 100%, 95%);
}

.username {
  font-weight: 600;
}

.intro p {
  font-weight: 600;
}

.daniel-clifford .comments p {
  color: hsl(260, 100%, 95%);
}

.jonathan-walters {
  background-color: hsl(217, 19%, 35%);
  color: white;
  box-shadow: 12px 6px 14px rgba(0, 0, 0, 0.3);
}

.jonathan-walters .profile-username {
  color: hsl(0, 0%, 81%);
}

.jonathan-walters .comments p {
  color: hsl(0, 0%, 81%);
}

.jeanette-harmon {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  box-shadow: 12px 6px 14px rgba(0, 0, 0, 0.3);
}

.jeanette-harmon .profile-username {
  color: hsl(217, 19%, 35%);
}

.jeanette-harmon .comments p {
  color: hsl(217, 19%, 35%);
}

.patrick-abrams {
  background-color: hsl(219, 29%, 14%);
  color: hsl(214, 17%, 92%);
  box-shadow: 12px 6px 14px rgba(0, 0, 0, 0.3);
}

.patrick-abrams .profile-username {
  color: hsl(214, 17%, 92%);
}

.patrick-abrams img {
  border: 2px solid hsl(263, 55%, 52%);
}

.patrick-abrams .comments p {
  color: hsl(214, 17%, 92%);
}

.kira-whittle {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 7%);
  box-shadow: 12px 6px 14px rgba(0, 0, 0, 0.3);
}

.kira-whittle .profile-username {
  color: hsl(0, 0%, 7%);
}

.kira-whittle .comments p {
  color: hsl(0, 0%, 7%);
}
